/* Codigo CSS */

body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #000000;
    margin: 0;
    background-color: #4CAF50;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
}

h2 {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}


form {
    width: 25rem;
    padding: 30px;
    background-color: #ffffff; /* Fondo negro */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-sizing: border-box;
    color: black; /* Texto en blanco */
}

.form-control {
    font-family: 'Overpass', sans-serif;
    font-size: 1.1rem;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #e1e0e0b4; 
    color: #000000; 
}


.form-control::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #000000;
}

.btn-primary {
    font-family: 'Overpass', sans-serif;
    font-size: 1.1rem; 
    color: #ffffff; 
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0f4c75;
}


.form-text {
    font-size: 0.9rem; 
    text-align: center;
    margin-top: 15px;
    color: #ffffff; 
}


.form-text a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3px;
}

.form-text a:hover {
    color: #4CAF50; 
}


.inferior {
    margin-top: 10px;
    font-size: 0.9rem; 
    text-align: center;
    color: #ffffff; 
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #4CAF50; 
}